body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat', bold;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding-top: 3%;
}

.title-img {
  transform: rotate(20deg);
  width: 60%;
  position: absolute;
}

.title-img-row {
  padding-left: 15%;
}

/* Download Buttons */
.btn {
  margin: 1% 1%;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 17px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat', light;
}

/* Features Section */
#features {
  color: #8f8f8f;
  background-color: white;
  position: relative;
}

#features i {
  color: #ef8172;
  font-size: 4.0rem;
  padding: 8% 0 3% 0;
}

#features i:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  color: #fff;
  background-color: #ef8172;
}

#testimonials img {
  border-radius: 100%;
  width: 10%;
  margin: 3%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 3%;
}

/* Pricing */
#pricing h1 {
  color: #000;
}

.pricing-collum {
  padding: 2% 3%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  padding: 2%;
}

#cta h1 {
  width: 60%;
  margin: auto;
}

/* Footer */
#footer i {
  margin: 1% 1%;
  font-size: 30px;
  color: black;
}

#footer i:hover {
  color: grey;
}

/* Responsibility Mobile&iPad */
@media (max-width: 1020px) {
  .title-img {
    transform: rotate(0deg);
    position: static;
  }

  .title-img-row {
    padding: 2% 0;
  }

  #title {
    text-align: center;
  }

  .title-row {
    padding-bottom: 3%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  #testimonials h2 {
    font-size: 2rem;
  }

  #footer i {
    margin: 2% 3% 1%;
    font-size: 20px;
    color: black;
  }
}
