#title {
  background-color: #ff4c68;
  color: white;
}

.iphone {
  transform: rotate(20deg);
  width: 60%;
}

body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat', Black;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', bold;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', bold;
  font-weight: bold;
  color: black;
}
.iphone {
  position: absolute;

}

.btn {
  margin: 0 3%
}

.container-fluid {
  padding: 3% 15% 3% 15%;
}

.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 17px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat', light;
}

#features {
  text-align: center;
  color: #8f8f8f;
background-color: white;
  padding: 7% 15%;
  position: relative;
}

#features i {
  color: #ef8172;
  font-size: 4.0rem;
  padding: 8% 0 3% 0;
}

#features i:hover {
  color: #ff4c68;
}

#testimonials img {
  border-radius: 100%;
  width: 10%;
  margin: 3%;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  color: #fff;
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 3%;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-collum {
  padding: 2% 3%;
}
.nd-trow {
  padding-left: 15%;
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 2%;
}
#cta h1 {
  color: white;
  width: 60%;
  margin: auto;
}
#footer {
  text-align: center;
}
#footer i {
  margin: 1% 1%;
  font-size: 30px;
  color: black;
}
#footer i:hover {
  color: grey;
}

@media (max-width: 1080px) {
  .iphone {
    transform: rotate(5deg);
    text-align: center;
  }
  .relative {
    height: 436px;
    width: 400px;
    position: relative;
    top: 100px;
    right: 15.5rem;
  }
  #title {
    text-align: center;
  }
  .title-row {
    padding-bottom: 3%;
  }
}
